.todo-list{
    list-style-type: none;
    padding: 1rem;
    width: 67.7%;
    margin-top: 1rem;
    text-align: left;

    li {
        padding: .5rem;
        margin: 1rem;
        border-bottom: 1px solid lightgray;
    }
    .completed{
        text-decoration: line-through;
        color: #118f11;
    }
    .delete{
        border: none;
        font-size: 18px;
        float: right;
        background: transparent;
        color: #b83434;
        padding: .1rem;
        &:hover {
            cursor: pointer;
            background-color: #b8343408;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
    }
}
